<div class="edit-slide-page">
  <div class="slide-settings">
    <div class="inline">
      <%= @slide.slideshow.name %>
    </div>
    <div class="inline">
    slide 1 of 3
    </div>
    <div class="inline">
      <a href="#edit-slide-color-picker" class="button">Change background color</a>
    </div>
    <div class="inline">
      <a href="#edit-slide-add-element" class="button">Add element</a>
    </div>

    <div class="hidden-div" id="edit-slide-color-picker">
      <div id="colorpicker"></div>
    </div>
    <div class="hidden-div" id="edit-slide-add-element">
      <ul>
      <% @element_types.each do |type| %>
      <li> <%= link_to "Add " + type.name, new_element_path(type_id: type.id), class: "add-element" %>  </li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="slide" style="width: <%= @slide.slideshow.px_width %>px; height: <%= @slide.slideshow.px_height %>px">

    <% @slide.elements.each do |element| %>
      <div class="slide-object draggable editable-area ui-draggable ui-resizable" id="<%= element.id %>" style="position: absolute; top: <%= element.top %>; left: <%= element.left %>; width: <%= element.width %> ; height: <%= element.heigth %>;">
      <div class="editable" data-edit-event="dblclick.textEditor"><%= element.content.html_safe %></div>
      </div>
    <% end %>
  </div>

</div>

