<div class="grid-container top shadow">
  <div class="grid-100">
   <div class="grid-80 top">
      <h1><%= @slideshow.name %> </h1>
      <div class="slides">
      <h4>Slides</h4>
        <% @slideshow.slides.each do |slide| %>
          <%= link_to  edit_slide_path(slide) do %>
          <div class="mini-slide" style="background-color: <%= slide.background_color %>">
            <p><%= slide.title %></p>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>

     <div class="grid-20 menu right top">
    <%= link_to '<button type="button">Add new slide</button>'.html_safe, new_slide_path %>
    <%= link_to '<button type="button">Cast</button>'.html_safe, cast_path(@slideshow), method: "post" %>
    </div>

  </div>
</div>
