<div class="grid-100 top-50 shadow">
  <div class="header-large">
    <h1>Profile</h1>
  </div>

  <div class="grid-70 top">

  <% unless current_user.slideshows == nil %>
  <h2>Your slideshows</h2>
  <% @shared_or_not = current_user.slideshows %>
  <%= render 'table' %>
  <% end %>

  <% unless @shared_slideshows == nil %>
  <h2>Shared slideshows</h2>
  <% @shared_or_not = @shared_slideshows %>
  <%= render 'table' %>
  <% end %>
  </div>

  <div class="grid-20 menu right top">
    <%= link_to 'Create new slideshow', new_slideshow_path %>
    <%= link_to "Update Account Info", edit_user_path(current_user) %>
    <%= link_to 'Delete Account', user_path, method: :delete, data: { confirm: 'Are you sure you want delete your account?' } %>
  </div>


</div>
